@using CourseManager.Models

@{
    var sidebars = (List<SideBars>)ViewBag.SideBars;
}
<ul class="nav navbar-nav sidebar">
    @foreach (var sidebar in sidebars)
    {
        <li><a href="/@sidebar.Controller/@sidebar.Ation" class="navbar-brand">@sidebar.Name</a></li>
    }
</ul>
